.dropbtn {
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 40px;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -125px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-logo {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  font-weight: 700;
  color: #000;
  display: block;
  text-decoration: none;
}

.header-logo:hover {
  color: #000;
  text-decoration: none;
}

.header-container {
  padding-top: 40px;
}

@media only screen and (max-width: 768px) {
  .header-logo {
    font-size: 20px;
  }

  .dropbtn {
    width: 30px;
  }
}
