.detail-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

.detail-subheading{
   font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.detail-container{
    margin: 50px;
}
