.signup-form {
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
}

.signup-submitButton {
    font-family: 'Montserrat', sans-serif;
    color: White;
    background-color: #333;
    border: none;
    float: right;
}

.signup-submitButton:hover {
    outline: 0;
}

@media only screen and (max-width: 768px) {
  .signup-form{
      width: 100%;
      margin: none;
  }
}
